{% extends 'base.html' %} 

{% block title %}Games{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-left mb-4">Games</h1>
    <div class="row">
        {% for game in games %}
            <div class="col-md-6 col-lg-6 mb-4">
                <div class="card text-left shadow-lg" style="width: 100%; height: 240px; border: none;">
                    <a href="{% url 'game_detail' game.id %}" class="text-decoration-none text-dark">
                        <div class="d-flex align-items-start" style="height: 100%;">
                            {% if game.logo %}
                                <img src="{{ game.logo.url }}" alt="{{ game.name }} logo" class="img-fluid" style="width: 156px; height: 240px; object-fit: cover; margin: 0;">
                            {% else %}
                                <div class="p-3">No logo available</div>
                            {% endif %}
                            <div class="p-3 d-flex flex-column justify-content-between" style="flex-grow: 1;">
                                <h5 class="card-title m-0">{{ game.name }}</h5>
                                <div>
                                    <p class="mb-0">Players: {{ game.player_count }}</p>
                                    <p class="mb-0">Teams: {{ game.team_count }}</p>
                                    <p class="mb-0">Description: {{ game.description }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <div class="alert alert-warning text-center">
                    No games available.
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
